.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    padding: 15vh 10vw;
    background-image: url('../../../../../public/images/backgorundBarcelo.jpg');
    background-size: cover;
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.wrapperLeft{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .7) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .7) 70%, rgba(0, 0, 0, 0) 100%);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    position: relative;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    position: relative;
}

.title {
    font-size: var(--superTitle);
    color: var(--bg);
}

.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3vh;
    border-radius: 16px;
    gap: 2vw;
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(256,256,256,0.1);
    background-color: var(--main);
    color: var(--bg);
}

.top {
    display: flex;
    flex-direction: row;
}

.questionTitle {
    font-size: var(--subtitle);
    font-weight: 400;
    letter-spacing: var(--letterSpacing);
}

.iconContainer {
    width: var(--title);
    height: var(--title);
    font-size: var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s ease-in;
    will-change: transform;
    color: var(--bg);
}

.iconContainer:hover {
    background-color: var(--cutColor);
    color: var(--bg);
}

.rotate {
    transform: rotate(-180deg);
    background-color: var(--cutColor);
    color: var(--bg);
}

.answer {
    display: none;
    color: var(--bg);
    font-size: var(--subtitle);
    line-height: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.visible {
    display: flex;
}

.button {
    background-color: var(--cutColor);
    padding: 1vw;
    text-decoration: none;
    color: var(--bg);
    font-weight: 700;
    outline: none;
    border: none;
    font-size: var(--subtitle);
    min-width: max-content;
    margin-left: 2vw;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

.button:hover {
    background-color: var(--cutColor);
    color: var(--text);
}


@media  (max-width: 799px) {

    .container {
        height: 150vh;
        padding: 5vh 5vw;
        flex-direction: column;
    }

    .wrapperLeft{
        width: 100%;
        height: 35%;
        bottom: 0;
    }

    .right {
        gap: 5vh;
    }

    .title {
        font-size: var(--superTitleMobile);
        text-align: center;
    }

    .badges {
        gap: 10vw;
    }

    .questionTitle {
        font-size: var(--title2Mobile);
    }

    .answer {
        font-size: var(--subtitleMobile);
    }

    .button {
        font-size: var(--title2Mobile);
        padding: 2vh;
    }

}


@media (min-width: 799px) and (max-width: 999px) {

    .container {
        padding: 10vh 5vw;
    }


}


@media (min-width: 1000px) and (max-width: 1199px) {

    .container {
        padding: 10vh 5vw;
    }


}


@media (min-width: 1200px) and (max-width: 1499px) {

    .container {
        padding: 15vh 5vw;
    }

}