.container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--text);
    padding: 10vh 0 0 0;
    color: #fff;
    justify-content: center;
    position: relative;
    background-image: url('../../../../../public/images/backgorund1.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    gap: 10vh;
}

.top {
    padding: 0 15vw;
    display: flex;
    align-items: center;
    gap: 5vw;
}

.top2 {
    padding: 0 15vw;
    display: flex;
    align-items: center;
    gap: 5vw;
}

.titles {
    font-size: var(--superTitle);
    letter-spacing: var(--letterSpacing);
    line-height: 4vw;
    flex: 1;
}

.titles2 {
    font-size: var(--superTitle);
    letter-spacing: var(--letterSpacing);
    line-height: 4vw;
    flex: 1;
}

.paragraph {
    flex: 1;  
    font-size: var(--heading);
}

.icons {
    display: flex;
    flex-direction: row;
    padding: 0 15vw;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.icon {
    width: 5vw;
    height: auto;
}

.iconTitle {
    text-align: center;
    font-size: var(--subtitle);
}

.carouselContainer {
    width: 100%;
    height: 80vh;
}

.gridContainer {
    padding: 0 15vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10vh;
    grid-gap: 15vh;
}

.imgContainer {
    height: 45vh;
}

.color {
    color: var(--cutColor);
    font-size: var(--subtitle);
}

.text {
    font-size: var(--heading);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottomImg {
    align-self: center;
}

.button {
    background-color: var(--cutColor);
    width: max-content;
    padding: 8px 16px;
    color: var(--bg);
    font-weight: 700;
    outline: none;
    border: none;
    font-size: var(--heading);
    min-width: max-content;
    cursor: pointer;
    border: 1px solid transparent;
    align-self: center;
    margin-top: 10vh;
}

.button:hover {
    background-color: transparent;
    border: 1px solid var(--cutColor);
    color: var(--bg);
}

.bottom {
    display: flex;
    flex-direction: column;
}



@media  (max-width: 799px) {

    .top {
        padding: 0 10vw;
        flex-direction: column;
    }
    
    .titles {
        font-size: var(--superTitleMobile);
        line-height: 6vh;
        text-align: center;
    }
    
    .paragraph {
        font-size: var(--title2Mobile);
        text-align: center;
    }

    .icons {
        padding: 0 5vw;
        justify-content: space-between;
    }

    .icon {
        width: 15vw;
        height: auto;
    }

    .iconTitle {
        text-align: center;
        font-size: var(--subtitleMobile);
    }

    .gridContainer {
        padding: 0 5vw;
        grid-template-columns: 1fr;
        margin-bottom: 5vh;
        grid-gap: 12vh;
    }

    .color {
        font-size: var(--title2Mobile);
    }
    
    .text {
        font-size: var(--subtitleMobile);
    }

    .bottomImg {
        width: 100%;
        height: auto;
    }

    .top2 {
        padding: 0 5vw;
        gap: 12vh;
        flex-direction: column;
    }

    .carouselContainer {
        width: 100%;
        height: 50vh;
    }

    .titles2 {
        margin-bottom: -5vh;
        font-size: var(--superTitleMobile);
        line-height: 6vh;
        text-align: center;
    }

    .button {
        font-size: var(--title2Mobile);
    }


}


@media (min-width: 800px) and (max-width: 999px) {



}


@media (min-width: 1000px) and (max-width: 1199px) {
    


}


@media (min-width: 1200px) and (max-width: 1499px) {


}