.content {
    width: 100vw;
    height: 80vh;
    display: flex;
    position: relative;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.info {
    position: absolute;
    top: 10vh;
    left: 5vw;
    background-color: var(--cutColor);
    height: 40vh;
    width: 30vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 400;
    font-size: var(--title);
    text-transform: uppercase;
}

.subtitle {
    font-weight: 400;
    font-size: var(--title2);
    text-transform: uppercase;
}

.paragraph {
    font-weight: 400;
    font-size: var(--subtitle);
    margin-bottom: 5vh;
}

.link {
    padding: 1vw;
    font-size: var(--subtitle);
    background-color: var(--main);
    color: var(--bg);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    max-width: max-content;
}


@media  (max-width: 799px) {

    .info {
        position: absolute;
        top: 50vh;
        bottom: 5vh;
        left: 5vw;
        right: 5vw;
        background-color: var(--cutColor);
        height: 25vh;
        width: 90vw;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-size: var(--titleMobile);
    }
    
    .subtitle {
        font-size: var(--title2Mobile);
    }
    
    .paragraph {
        font-size: var(--subtitleMobile);
        margin-bottom: 2vh;
    }
    
    .link {
        font-size: var(--subtitleMobile);
        padding: 2vw;
    }


}